<li class="table-view-cell">
	<%=discount_event_item.name%>
	<p><%=raw discount_event_item.intro%></p>
	<%=link_to [:mobile,discount_event_item], :class=>"btn btn-primary",:remote=>true,"data-ignore"=>"push" do%>
			查看活动详情
	<%end%>

	
	
	
</li>