<%= content_for :title do %>
	编辑系统管理员
<% end %>

<div class='row-fluid'>
	<div class='box bordered-box blue-border'>
		<%=render 'shared/error_messages',:target=>@admin_user%>

		<%=simple_form_for([:admin,@admin_user],:html=>{:class=>"form-horizontal"}) do |f|%>
			<%= f.input :email,:input_html=>{:class=>"input-xxlarge"}%>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">保存</button> 
			</div> 
		<%end%>	</div>
</div>