<div id="agreement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">“自游购物帮”微信平台用户协议</h3>
  </div>
  <div class="modal-body">
		<b>一、“海外购物”特约商户定义<b/>
		<p>
		1、“自游购物帮”微信平台中的“海外购物”特约商户是由“自游购物帮”微信平台联手海外地区的特约合作商户，给予“自游购物帮”微信平台会员在特约合作商户消费奖励的一项尊享礼遇计划。
		</p>

		<p>
		2、 此项返利活动仅限中国籍自由行游客参加（凡跟团或有导游同行的顾客不可参加此活动）。
		</p>
		<p>
		3、客户仅可选择一种优惠方式参与，如遇其他渠道向客户提供同等优惠，请客户自行选择一种方式参与。
		</p>

		<b>二、参加“海外购物”立享优惠或立享返利活动流程</b>
		<p>请参照“参加返利”菜单中“返利流程介绍”，即可参加海外购物特约商户返利活动，具体流程如下：</p>
		<p>Step1：客户在“商户”菜单中了解“海外购物”特约商户信息以及返利优惠等信息。</p>
		<p>Step 2：客户在“我的账户”中注册成为“自游购物帮”微信平台的会员。</p>
		<p>Step 3：客户在“参加返利”菜单中，点击“填写预约单”，填写相关信息。</p>
		<p>Step 4：客户在出行前，本平台会将商户优惠码将发至客户注册邮箱（或手机）。</p>
		<p>Step 5：客户如约出游消费，绝不强制消费！每次消费时，均需向商家出示商户优惠码。</p>
		<p>PS：若客户出行计划变更，请提前告知本平台联系人。建议客户在商户消费时带好护照，多数国家有退税政策</p>。
		<p>Step 6：享受立项优惠的客户当场消费时即可打折，享受返利的客户将自您成功消费后的2-3个月内获得返利金额。</p>


		<b>三、返利时效之相关规定<b/>
		<p>1、正常情况:在客户成功消费之日后2个月内，根据“自游购物帮”微信平台公示的各特约商户返现规则返现至客户注册的支付宝账户内。</p>
		<p>2、特殊情况：如遇客户对返利数据有质疑或需申诉的，将根据“自游购物帮”微信平台——返利投诉处理规则之规定时效处理与解决。</p>
		<b>四、客户账户之相关规定<b/>
		<p>1、客户必须注册“自游购物帮”微信平台并成功成为会员后，才能享受本平台所提供之相关优惠或返利。</p>
		<p>2、客户账户是“自游购物帮”微信平台为会员设置的，用于管理平台会员返还相关优惠的专属账户。</p>
		<p>3、会员可登录“我的账户”菜单中“会员账户管理”进行返利金额及返利明细等信息的查询。</p>
		<p>4、会员可将客户账户中的任意金额转入会员已注册的支付宝账户。会员必须在会员注册信息中填写正确的支付宝账户信息，若客户由于自身原因填写有误、漏填或填写不成功，则“自游购物帮”微信平台不承担任何责任。</p>
		<p>5、返利汇率按客户消费当日中国银行所公布的现钞买入价结算，返利金额计算到元（货币单位：人民币），角、分全舍去，在客户会员账户中体现。</p>
		<b>五、投诉处理规则之相关规定<b/>
		<p>1、客户若对商品的售后和质量有问题，均由商户承担相关责任，请客户自行联系商户解决，本平台不承担相关责任。</p>
		<p>2、客户若向本平台和商户提供错误的护照等个人信息而导致未享受到相关返利，则相关的任何损失由客户自行承担，本平台不承担相关责任。</p>
		<p>3、客户若未在出行中出示护照信息给商户，导致客户未享受到相关返利，则本平台不予后续添加处理并不承担相关责任。</p>
		<p>4、客户若对返利数据产生相关疑义，请客户于收到该笔返利金额的1个自然月内，提供包括但不限于：商户名称，护照号码，交易日期，收银票（扫描件），POS签购单（扫描件），发至意见处理邮箱：ziyoubang168@163.com，由客服专员负责处理，若遇其他问题或对本平台的服务有意见和建议，请与唐先生联系，联系电话13817661881。</p>
		<b>六、在法律允许的范围内，“自游购物帮”微信平台保留对本活动条款进行解释的权利，并有权根据情况取消本活动或增删、修订本规则（包括但不限于优惠时间及回馈标准等），并于本平台公告后生效。 </b>
		
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
