<%= grid(@events_grid, show_filters: :when_filtered, hide_csv_button: true) do |g|
	g.column :name => '系统ID', :attribute => 'id'  do |event|
		link_to event.id,[:admin,event]
	end
	g.column :name => "标题", :attribute => 'title'  do |event|
		link_to event.try(:title) , [:admin,event] 
	end


	g.column do |event|
		edit =  link_to raw("<button class=\"btn btn-mini btn-info\"><i class=\"icon-edit bigger-120\"></i></button>"), edit_admin_recommend_event_path(event)
		remove = link_to raw("<button class=\"btn btn-mini btn-danger\"><i class=\"icon-trash bigger-120\"></i></button>"), [:admin,event], method: :delete, data: { confirm: '确认删除推荐文章吗?' }
		raw "#{edit} #{remove}"
	end
	
end -%>