<%= content_for :title do %>
	优惠券管理
<% end %>

<%=render 'search_form'%>

<div class='box bordered-box blue-border'>
	<div class='box-header fb-background'>
	    <div class='title'>用户优惠券列表</div>
	    <div class='actions'>


	    </div>
	</div>
	<div class='box-content box-no-padding'>
		<%=render 'grid'%>
	</div>
</div>