<style>

</style>

<ul class="table-view">
	<%@shops.each do |shop|%>
		<li class="table-view-cell ">
			<%=link_to [:mobile,shop], :class=>"navigate-right","data-ignore"=>"push", "data-transition"=>"slide-in" do%>
		      <div class="">
						<div class="shop-title">
							<%=shop.name%>
						</div>
						<div class="shop-detail">
							<p>地址:<%=shop.address%></p>
							<p>电话:<%=shop.phone%></p>
						</div>
		      </div>
			<%end%>
		</li>	
	<%end%>
</ul>


